.nav {
    grid-area: n;
    background-color: darkturquoise;
    padding: 15px;

}

/*ссылки*/
.item a {
    color: white;
    text-decoration: none; /* убираем подчеркивание ссылки */
}

/*когда кликнул на ссылку меняет цвет на заданный*/
.item a.active {
    color: Gold;
}